{extend name="common/base" /} {block name="title"} 在线预约后台登陆页面 {/block} {block name="Matter"}
<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-head">
                        <div class="pull-left">小程序信息管理</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="wclose"><i class="icon-remove"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>小程序名称</th>
                                    <th>邮箱</th>
                                    <th>手机号码</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>高攀的APP</td>
                                    <td>1046431242@qq.com</td>
                                    <td>15521252336</td>
                                    <td>
                                        <span class="label label-success">修改密码</span>
                                        <span class="label label-danger">查看详情</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="widget-foot">
                            <ul class="pagination pull-right">
                                <li><a href="#">上一页</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">下一页</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
