{include file="login_common/loginhead" /}
<!-- Form area -->
<div class="admin-form">
    <div class="container">
        <div class="row" style="margin-top:150px;">
            <div class="col-md-12">
                <!-- Widget starts -->
                <div class="widget worange">
                    <!-- Widget head -->
                    <div class="widget-head">
                        <i class="icon-lock"></i> 登录
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <!-- Login form -->
                            {block name="form" /}
                            {/block}
                        </div>
                    </div>
                    <!--                 <div class="widget-foot">
                  Not Registred? <a href="#">Register here</a>
                </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
</body>

</html>
