.idea
composer.lock
*.log
thinkphp
app/index/controller/Index.php
app/index/controller/Index.php
*.php
app/index/controller/Index.php
app/index/controller/Index.php
*.php
app/index/controller/Index.php
